* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F7F9;
}

a {
    text-decoration: none;
    color: #000;
}

.containter {
    width: 80%;
    margin: 100px auto 0 auto;
}

.containter h2 {
    font-size: 60px;
    color: #54595F;
    text-align: center;
}

 /* PRODUCTS TABLE */

.products {
    /* border-collapse: collapse; */
    margin: 25px auto;
    width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: #626161;
}

.products thead tr {
    background-color: #FFF;

}

.products td,
.products th {
    padding: 12px 15px;
}

.products tr {
    border-bottom: solid 1px #dddddd;
}

/* .products tbody tr:nth-of-type(even) {
    background-color: #a4b0d9;
} */

.products td input {
    text-align: center;
    border: solid 1px #dddddd;
    color: #666666;
    border-radius: 3px;
    padding: 1px;
}

.products td input:focus {
    outline: none;
}

.products td img {
    border-radius: 50%;
    width: 80px;
}

.products td i {
    color: #54595F;
    cursor: pointer;
    pointer-events:all;
    width: 2em;
    height: 2em;
    
    /* outline: none; */
    /* pointer-events: none; */
}

.products td i::before {
    pointer-events: all;
    content: "X";
    z-index: -100px;
    width: 2em;
    height: 2em;
    position: relative;
}

.updateButton {
    text-align: right;
}

.products tfoot tr td {
    text-align: end;
}


.updateButton {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    color: #0d172a;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    transition: all .3s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    margin-right: 20px;
}

.updateButton:hover {
    background-color: #54595F;
    color: #fff;
}

@media (min-width: 768px) {
    .updateButton {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 700px;
    padding: 0 10px 0 5px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    transition: all ease 1.5s;
    overflow-x: hidden;
}

.sidebar.closed {
    right: -700px;
}
                        /* sidebar header */

.sidebar header {
    border-bottom: 1px dotted rgb(184, 178, 178);
    padding:  14px;
    position: sticky;
    top: 0;
    background-color: #fff;;
    
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .text {
    font-size: 18px;
    font-weight: 700;
}
.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
} 

/* sidebar items */

.sidebar .sidebar-items {
    margin-top: 12px;
}
.sidebar-items .items {
    padding: 0;
}
.sidebar-items .item img {
    width: 70px;
    border-radius: 50%;
    margin: 10px 10px 0 0;
}
.sidebar-items .item {   
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(184, 178, 178);
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
}
.sidebar-items .item .item-desc {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.sidebar-items .item .item-desc .item-price {
    margin-top: 20px;
}
.sidebar-items .delete-item-btn,
.sidebar .toggle-sidebar{
    cursor: pointer;
    color: #626161;
}

/* sidebar footer */

.sidebar .sidebar-footer {
    position: sticky;
    bottom: 0px;
    width: 100%;
    background-color: #FFF;
    font-size: large;
    font-weight: 600;
}
.sidebar  .price-subtotal {
    display: flex;
    /* background-color: #6979d3; */
    justify-content: space-between;
    
    padding: 10px;
    background-color: #6979d3;
}

.sidebar .sidebar-footer .view-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #6979d3;
    border: none;
    font-weight: 600;
}