body {
  background-color: aliceblue;
}

/*
---------------------------------------------
NavBar Section
---------------------------------------------
*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  font-weight: bold;
  color: white;
  padding: 0 20px;

}

.logo {
  margin-left: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: auto;
}

.nav-links li {
  margin-right: 35px;
}

.home {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
}

.nav-links li a {
  display: inline-block;
  padding: 20px 5px;
  transition: transform 0.5s, color 0.4s;
}

.nav-links li a:hover {
  color: #ffc107;
  transform: scale(1.4);
}

.nav-links a:link {
  color: white;
}

.icons a:link {
  color: white;
}

a:visited {
  color: inherit;
}

.icons {
  display: flex;
  align-items: center;
  list-style: none;
}

.fa-solid {
  font-size: 30px;
}

.icons a {
  padding: 15px;
  transition: transform 0.5s, color 0.4s;
}

.icons a:hover {
  color: #ffc107;
  transform: scale(1.4);
}

/* Navbar end */

/* 
---------------------------------------------
Footer
--------------------------------------------- 
*/
footer {
  border-top: 1px solid #ccc;
  clear: both;
  /* Clear any floats within the page content */
}

footer .container {
  width: 100%;
  overflow: hidden;
  /* Clear any floats within the container */
}

footer .container .prim {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  /* Allow flex items to wrap to the next line if needed */
  justify-content: space-around;
}

footer .container .slogan {
  text-align: center;
  padding: 30px 0px;
}

footer .container .slogan img {
  max-width: 30%;
  margin-bottom: 30px;
}

footer .for-her,
footer .for-him {
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .for-her h2,
footer .for-him h2,
footer .container .sub h2 {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 500;
}

footer a {
  color: rgba(0, 0, 0, 0.51);
  text-decoration: none;
  margin: 5px 0px;
  transition: var(--main-trans-time);
}

footer a:hover {
  color: #005f9b;
}

footer .container .sub {
  margin-top: 30px;
  text-align: center;
}

footer .container .sub input[type="email"] {
  padding: 12px;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #ccc;
}

footer .container .sub input[type="email"]::placeholder {
  font-size: 0.9rem;
}

footer .container .sub button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 28px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  background-color: #0084d6;
  transition: var(--main-trans-time);
}

footer .container .sub button:hover {
  background-color: #005f9b;
}

/* footer end */


/* CATEGORY PAGE BODY */

/* LEFT SIDE */

.store-row {
  margin-top: 2rem;
}

/* SEARCH SECTION  */

.search-section {
  position: relative;
}

.search-section input {
  display: block;
  outline: none;
  border: 1px solid #999;
  padding: 5px 10px;
  border-radius: 5px;
}

.search-section input:focus,
.search-section input:hover {
  border-color: deepskyblue;
}

.search-section .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.search-section .search-icon:hover {
  color: deepskyblue;
}

/* PRICE RANGE SECTION  */

.price-input .field {
  height: 45px;
  /* width: 100%; */

}

.field input {
  width: 100%;
  height: 100%;
  outline: none;
  text-align: center;
  margin-left: 12px;
  border: 1px solid #e7e5e5;
  border-radius: 5px;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider {
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
  position: relative;
}

.slider .slider-progress {
  height: 5px;
  background-color: #17A2BB;
  border-radius: 5px;
  position: absolute;
  left: 0%;
  right: 0%;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  pointer-events: none;
  background: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  background-color: #17A2BB;
  appearance: none;
  border-radius: 50%;
  pointer-events: auto;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  background-color: #17A2BB;
  appearance: none;
  border-radius: 50%;
  pointer-events: auto;
  border: none;
}
.category{
  cursor: pointer;
}
.category:hover{
  color: deepskyblue;
}

/* RIGHT SIDE */
#sorting{
  outline: none;
  width: 140px;
  border: 1px solid #999999df;
  border-radius: 5px;
}

.product-card,
.product-card .product-img {
  overflow: hidden;
  transition: all 1s;
  cursor: pointer;
}

.product-card .product-img img {
  transition: all 1s;
  transform: scale(.8);
  height: 230px;
}

.product-card .product-img img:hover {
  transform: scale(1);
}

.product-card:hover {
  box-shadow: 0px 12px 12px 3px rgba(0, 0, 0, 0.1);
}

.long-text {
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-stars i {
  color: gold;
}