html, body {
    font-family: "Lato" sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 100%;
    background-color: #f5f7f9;
}
#imgCont {
    /* width: 100%; */
    height: 35em;
    background-image: url("/imgs/banner-06.jpg");
    filter: brightness(80%);
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom center;
    /* background-size: 100%; */
    background-size: cover;
    background-attachment: fixed;
    margin-bottom:4em ;
    text-align: center;
    justify-content: center;
    align-items :center;    
}

#imgCont::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

#imgCont span {
    font-size: 8vw;
    color: white !important;
    position: relative;
}

#query {
    text-align: center;
}

#contactNumbersSec {
    justify-content: center;
    align-items :center;   
    gap: 1.2em;
}
.contact {
    text-align: center;
    color:#000;
    margin-top: 2rem;
    /* box-shadow:  0px 1.5px #888888; */
    border-radius: 4%;

}
.contactNumb {
    color:#0084D6;
}

#messageSec {
    margin-top: 6em;
}


#mssgForm input {
    margin-bottom: 1.4em;
}

#mssgForm textarea {
    margin-bottom: 1.4em;
}
