/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/

:root {
    --sec-bg-color: #f5f7f9;
    --overlay-color: rgba(1, 16, 26, 0.486);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.container {
    margin-left: 20px; margin-right: 20px;
}

.btn {
    padding: 15px;
    display: block;
    background-color: #fff;
    width: 100%;
    text-decoration: none;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

/* 
---------------------------------------------
Start Hero Section or the first section
--------------------------------------------- 
*/

#hero {
    height: 55vh;
    background: var(--overlay-color) url('../imgs/home-new-bg-free-img.jpg') no-repeat center center/cover;
    background-blend-mode: overlay;
}

#hero,
#hero .container .main-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero .container .main-txt {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}

#hero .container .main-txt h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

#hero .container .main-txt h4 {
    margin: 15px 0px; 
    font-size: 1.4rem;
}

#hero .container .main-txt div {
    margin: 15px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

#hero .container .main-txt a:last-of-type {
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid  #FFF;
    color: #fff;
}

#hero .container .main-txt a:last-of-type:hover {
    background-color: #FFF;
    color: #000;
}

/* 
---------------------------------------------
Start Cards Section 
--------------------------------------------- 
*/
#cards .container {padding: 80px 0px}
#cards .container .card:first-of-type,
#cards .container .card:last-of-type {
    background: rgba(0, 0, 0, 0.5) url('../imgs/men-fashion-card.jpg') no-repeat center center/cover;
    background-blend-mode: overlay;
}

#cards .container .card:nth-child(2) {
    background: rgba(0, 0, 0, 0.5) url('../imgs/footwear-card.jpg') no-repeat center center/cover;
    background-blend-mode: overlay;
}

#cards .container .card {
    padding: 120px 20px 35px 20px;
    margin-top: 20px;
    color: #FFF;
}

#cards .container .card h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#cards .container .card p {
    margin-bottom: 20px;
    line-height: 2;
}


/* 
---------------------------------------------
Start Featured Products Section 
--------------------------------------------- 
*/
#featured {
    background-color: var(--sec-bg-color);
    text-align: center;
    padding: 40px 0px;
}

#featured .container h2:first-child {
    text-transform: capitalize;
    margin-bottom: 28px;
}

#featured .container .line {
    width: 30%;
    height: 2px;
    margin: 0px auto;
    background-color: #0084d6;
}

#featured .container .products {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: start;
}

#featured .container .products .product {
    width: 47%;
    margin-bottom: 50px;
}

#featured .container .products .product img {
    max-width: 100%;
    margin-bottom: 10px;
}

#featured .container .products .product h2 {font-size: .9rem;}

#featured .container .products .product .catg {
    font-size: .75rem;
    color: #abacad;
    margin: 10px 0px;
    text-transform: capitalize;
}

#featured .container .products .product .price {font-size: .95rem;}

/* 
---------------------------------------------
Start Special Section 
--------------------------------------------- 
*/
#special {padding-bottom: 100px; background-color: var(--sec-bg-color);}
#special .container {
    background: var(--overlay-color) url('../imgs/special-bg.jpg') no-repeat center center/cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 55px 20px;
    color: #FFF;
}

#special .container h4:first-of-type {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#special .container h2 {
    margin-bottom: 20px;
    font-size: 1.7rem;
}

#special .container p {
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
}

#special .container h4:last-of-type {
    text-align: center;
    margin-bottom: 35px;
    font-size: 1.2rem;
}

/* 
---------------------------------------------
Start Tags Section 
--------------------------------------------- 
*/
#tags {
    background-color: var(--sec-bg-color);
    border-bottom: 1px solid #CCC;
}

#tags .container .tag-box {
    text-align: center;
    margin-bottom: 50px;
}

#tags .container .tag-box img {max-width: 15%;}

#tags .container .tag-box h5 {font-size: 1.1rem;}

#tags .container .tag-box p {
    line-height: 1.8;
    color: #000000d2;
}
#tags .container .tag-box img,
#tags .container .tag-box h5,
#tags .container .tag-box p {margin-bottom: 20px;}

@media (min-width:567px) {
    
}

/* 
---------------------------------------------
Meduim Devices
--------------------------------------------- 
*/
@media (min-width:768px) {
    .container {
        width: 720px;
        margin-left: auto; margin-right: auto;
    }

    /* 
    ---------------------------------------------
    (Meduim) Start Hero Section
    --------------------------------------------- 
    */
    #hero .container .main-txt {
        width: 80%;
        align-items: flex-start;
        text-align: left;
        padding-left: 25px;
    }

    #hero .container .main-txt h1 {
        font-size: 3.125rem;
        width: 70%;
    }

    .btn {
        width: 30%;
    }
    
    #hero .container .main-txt a:last-of-type {margin-top: 0; margin-left: 20px;}

    #hero .container .main-txt div {justify-content: flex-start;}

    /* 
    ---------------------------------------------
    (Meduim) Start Cards Section 
    --------------------------------------------- 
    */
    #cards .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }
    #cards .container .card {
        padding-top: 220px;
        padding-bottom: 20px;
        min-height: 480px;
    }

    #cards .container .card:last-of-type,
    #cards .container .card:first-of-type {
        background-position: center left;
    }
    #cards .container .card:nth-child(2) {background-position: center right;}
    #cards .container .card h3 {
        font-size: 1.4rem;
        font-weight: bolder;
        margin-top: 50px;
        margin-bottom: 15px;
    }
    #cards .container .card p {
        margin-bottom: 20px;
        line-height: 1.5;
    }
    #cards .container .card .btn {width: 75%;}

    /* 
    ---------------------------------------------
    (Meduim) Start Featured Products Section 
    --------------------------------------------- 
    */
    #featured {padding-top: 100px;}
    #featured .container .line {width: 15%;}
    #featured .container .products {padding: 0px 40px;}
    #featured .container .products .product {width: calc((100% / 3) - 10px);}
    #featured .container .products .product img {max-width: 95%;}

    /* 
    ---------------------------------------------
    (Meduim) Start Special Section 
    --------------------------------------------- 
    */
    #special .container {
        align-items: flex-start;
        padding: 60px 50px;
    }
    #special .container p, #special .container h4:last-of-type {text-align: start; width: 67%;}
    #special .container .btn {width: 25%;}

    /* 
    ---------------------------------------------
    (Meduim) Start Tags Section 
    --------------------------------------------- 
    */
    #tags .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px 40px;
    }

    #tags .container .tag-box {width: calc((100% / 2) - 50px);}

}

/* 
---------------------------------------------
Large Devices
--------------------------------------------- 
*/
@media (min-width:992px) {
    .container {
        width: 930px;
    }

    /* 
    ---------------------------------------------
    (Large) Start Hero Section
    --------------------------------------------- 
    */
    #hero .container .main-txt h1{
        width: 70%;
        font-size: 4rem;
    }

    .btn {
        width: 20%;
    }

    /* 
    ---------------------------------------------
    (Large) Start Cards Section 
    --------------------------------------------- 
    */
    #cards .container {gap: 20px;}
    #cards .container .card {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* 
    ---------------------------------------------
    (Large) Start Featured Products Section 
    --------------------------------------------- 
    */
    #featured .container h2:first-of-type{font-size: 2.7rem;}
    #featured .container .line {width: 10%;}
    #featured .container .products .product {width: calc((100% / 5) - 10px);}

    /* 
    ---------------------------------------------
    (Large) Start Special Section 
    --------------------------------------------- 
    */
    #special .container .btn {width: 18%;}

    /* 
    ---------------------------------------------
    (Large) Start Tags Section 
    --------------------------------------------- 
    */
    #tags .container {padding: 0px 20px;}
    #tags .container .tag-box {width: calc((100% / 2) - 80px);}
}

/* 
---------------------------------------------
Extra Large Devices
--------------------------------------------- 
*/
@media (min-width:1200px) {
    .container {
        width: 1140px;
    }

    /* 
    ---------------------------------------------
    (Extra) Start Hero Section
    --------------------------------------------- 
    */
    #hero {
        height: 88vh;
        background-attachment: fixed;
    }
    #hero .container .main-txt {padding-left: 0px;}
    #hero .container .main-txt h1 {font-size: 4.4rem;}
    #hero .container .main-txt .btn {width: 16%;}
    #hero .container .main-txt h4 {margin: 25px 0px;}

    /* 
    ---------------------------------------------
    (Extra) Start Cards Section 
    --------------------------------------------- 
    */
    #cards .container .card {
        padding-left: 40px;
        padding-right: 20px;
    }
    #cards .container .card h3 {
        font-size: 1.6rem;
    }
    #cards .container .card .btn {width: 50%;}

    /* 
    ---------------------------------------------
    (Extra) Start Featured Products Section 
    --------------------------------------------- 
    */
    #featured .container .products {padding: 0px 0px;}
    #featured .container .products .product img {max-width: 100%;}
    #featured .container .products .product {width: calc((100% / 5) - 15px);}

    /* 
    ---------------------------------------------
    (Extra) Start Special Section 
    --------------------------------------------- 
    */
    #special .container {padding: 100px 90px; background-attachment: fixed;}

    /* 
    ---------------------------------------------
    (Large) Start Tags Section 
    --------------------------------------------- 
    */
    #tags .container .tag-box {width: calc((100% / 4) - 30px);}
}
