/* 
---------------------------------------------
Table of contents
---------------------------------------------
01. global styles
02. NavBar Section
03. Hero Section
04. Cards Section 
05. Featured Products Section 
06. Special Section 
07. Tags Section 
08. Sale Section
09. Footer
10. Links
--------------------------------------------- 
*/

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/

:root {
  --sec-bg-color: #f5f7f9;
  --overlay-color: rgba(1, 16, 26, 0.486);
  --main-trans-time: 0.3s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  padding: 15px;
  display: block;
  background-color: #fff;
  width: 100%;
  text-decoration: none;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  transition: var(--main-trans-time);
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

/* SIDEBAR */


.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 700px;
  padding: 0 10px 0 5px;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 1.5s;
  overflow-x: hidden;
  z-index: 2222;
}

.sidebar.closed {
  right: -700px;
}
                      /* sidebar header */

.sidebar header {
  border-bottom: 1px dotted rgb(184, 178, 178);
  padding:  14px;
  position: sticky;
  top: 0;
  background-color: #fff;;
  
}

.sidebar .image-text img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .text {
  font-size: 18px;
  font-weight: 700;
}
.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

/* sidebar items */

.sidebar .sidebar-items {
  margin-top: 12px;
}
.sidebar-items .items {
  padding: 0;
  margin-bottom: 150px;
}
.sidebar-items .item img {
  width: 70px;
  border-radius: 50%;
  margin: 10px 10px 0 0;
}
.sidebar-items .item {   
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(184, 178, 178);
  /* border-radius: 25px; */
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.sidebar-items .item .item-desc {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.sidebar-items .item .item-desc .item-price {
  margin-top: 20px;
}
.sidebar-items .delete-item-btn,
.sidebar .toggle-sidebar{
  cursor: pointer;
  color: #626161;
}

.sidebar-items .delete-item-btn i {
  font-size: 1.3rem;
}

.sidebar-items .delete-item-btn:hover i,
.sidebar .toggle-sidebar:hover {
  color: #62616181;
}

/* sidebar footer */

.sidebar .sidebar-footer {
  position: fixed;
  bottom: 0px;
  width: 700px;
  background-color: #FFF;
  font-size: large;
  font-weight: 600;
  color: #FFF;
}
.sidebar  .price-subtotal {
  display: flex;
  /* background-color: #6979d3; */
  justify-content: space-between;
  padding: 10px;
  background-color: #005f9b;
}

.sidebar .sidebar-footer .view-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #005f9b;
  border: none;
  font-weight: 600;
}

.sidebar .sidebar-footer .view-btn a {
  color: #FFF;
}

.sidebar .sidebar-footer .view-btn a:hover {
  color: #ffffffaf;
}
/* SIDEBAR END 
---------------------------------------------
*/

/*
---------------------------------------------
NavBar Section
---------------------------------------------
*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  font-weight: bold;
  color: white;
  padding: 0 20px;
}
.logo {
  margin-left: 20px;
}
.nav-links {
  list-style: none;
  display: flex;
  margin-right: auto;
}
.nav-links li {
  margin-right: 35px;
}
.home {
  margin-left: 20px;
}
nav a {
  text-decoration: none;
}
.nav-links li a {
  display: inline-block;
  padding: 20px 5px;
  transition: transform 0.5s, color 0.4s;
}
.nav-links li a:hover {
  color: deepskyblue;
  transform: scale(1.4);
}
.nav-links a:link {
  color: white;
}
.icons a:link{
    color: white;
}
nav a:visited {
  color: inherit;
}
.icons {
  display: flex;
  align-items: center;
  list-style: none;
}

.fa-solid{
    font-size: 30px;
}
.icons i {
  padding: 15px;
  transition: transform 0.5s, color 0.4s;
  cursor: pointer;
  position: relative;
}

.icons i:hover {
  color: deepskyblue;
  transform: scale(1.4);
}

.icons .fa-cart-shopping::after {
  content: attr(value);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: .9rem;
  background-color: #0084d6;
  position: absolute;
  top: 1px;
  right: 7px;
}
/* 
---------------------------------------------
Hero Section
--------------------------------------------- 
*/

#hero {
  height: 100vh;
  background: var(--overlay-color) url("../imgs/home-new-bg-free-img.jpg")
    no-repeat center center/cover;
  background-blend-mode: overlay;
}

#hero,
#hero .container .main-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hero .container .main-txt {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

#hero .container .main-txt h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

#hero .container .main-txt h4 {
  margin: 15px 0px;
  font-size: 1.4rem;
}

#hero .container .main-txt h1,
#hero .container .main-txt h4 {
  animation-name: fade;
  animation-duration: 3.3s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero .container .main-txt div {
  margin: 15px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#hero .container .main-txt a:last-of-type {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

#hero .container .main-txt a:last-of-type:hover {
  background-color: #fff;
  color: #000;
}

/* 
---------------------------------------------
Cards Section 
--------------------------------------------- 
*/
#cards .container {
  padding: 80px 0px;
}
#cards .container .card:first-of-type,
#cards .container .card:last-of-type {
  background: rgba(0, 0, 0, 0.5) url("../imgs/men-fashion-card.jpg") no-repeat
    center center/cover;
  background-blend-mode: overlay;
}

#cards .container .card:nth-child(2) {
  background: rgba(0, 0, 0, 0.5) url("../imgs/footwear-card.jpg") no-repeat
    center center/cover;
  background-blend-mode: overlay;
}

#cards .container .card {
  padding: 120px 20px 35px 20px;
  margin-top: 20px;
  color: #fff;
  transition: .5s;
}

#cards .container .card:hover {
  box-shadow: 0px 0px 10px 0px #000;;
  animation-name: zoom;
  animation-duration: .7s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  from {background-size: 130%;}
  to {background-size: 135%;}
}

#cards .container .card h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

#cards .container .card p {
  margin-bottom: 20px;
  line-height: 2;
}

/* 
---------------------------------------------
Featured Products Section 
--------------------------------------------- 
*/
#featured {
  background-color: var(--sec-bg-color);
  text-align: center;
  padding: 40px 0px;
}

#featured .container h2:first-child {
  text-transform: capitalize;
  margin-bottom: 28px;
}

#featured .container .line {
  width: 30%;
  height: 2px;
  margin: 0px auto;
  background-color: #0084d6;
}

#featured .container .products {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
}

#featured .container .products .product {
  width: 47%;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
#featured .container .products .product:hover{
  box-shadow: 0px 12px 12px 3px rgba(0, 0, 0, 0.1);
}

.product-card{
  position: relative;
}
#featured .container .products .product:hover .addToCart,
.product-card:hover .addToCart {
  display: block;

}

#featured .container .products .product img {
  margin-bottom: 10px;
  width: 213px;
  height: 213px;
  transition: all 1s;
}
#featured .container .products .product img:hover{
  transform: scale(1.1);
}


#featured .container .products .product .addToCart,
.product-card .addToCart {
  display: none;
  text-align: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 17px;
  right: 18px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px;
  cursor: pointer;
}

#featured .container .products .product .addToCart:hover i,
.product-card .addToCart:hover i {
  color: #005f9b;
}

#featured .container .products .product .addToCart:hover::before,
.product-card .addToCart:hover::before  {
  content: "Add To Cart";
  position: absolute;
  left: -64px;
  top: 5px;
  width: 200%;
  font-size: 9px;
  background-color: #000;
  color: #fff;
  padding: 5px;
}

#featured .container .products .product .addToCart i,
.product-card .addToCart i {
  font-size: 1.2rem;
}

#featured .container .products .product h2,
.product-card h2 {
  font-size: 0.9rem;
}

#featured .container .products .product .catg {
  font-size: 0.9rem;
  color: #abacad;
  margin: 10px 0px;
  text-transform: capitalize;
}

#featured .container .products .product .price,
.product-card .price{
  font-size: 0.95rem;
}

/* 
---------------------------------------------
Special Section 
--------------------------------------------- 
*/
#special {
  padding-bottom: 100px;
  background-color: var(--sec-bg-color);
}
#special .container {
  background: var(--overlay-color) url("../imgs/special-bg.jpg") no-repeat
    center center/cover;
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 55px 20px;
  color: #fff;
}

#special .container h4:first-of-type {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

#special .container h2 {
  margin-bottom: 20px;
  font-size: 1.7rem;
}

#special .container p {
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: center;
}

#special .container h4:last-of-type {
  text-align: center;
  margin-bottom: 35px;
  font-size: 1.2rem;
}

/* 
---------------------------------------------
Tags Section 
--------------------------------------------- 
*/
#tags {
  background-color: var(--sec-bg-color);
  border-bottom: 1px solid #ccc;
}

#tags .container .tag-box {
  text-align: center;
  margin-bottom: 50px;
}

#tags .container .tag-box img {
  max-width: 15%;
}

#tags .container .tag-box h5 {
  font-size: 1.1rem;
}

#tags .container .tag-box p {
  line-height: 1.8;
  color: #000000d2;
}
#tags .container .tag-box img,
#tags .container .tag-box h5,
#tags .container .tag-box p {
  margin-bottom: 20px;
}

/* 
---------------------------------------------
Sale Section
--------------------------------------------- 
*/
#sale .container p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 30px 0px;
  line-height: 1.5;
}

/* 
---------------------------------------------
Footer
--------------------------------------------- 
*/
footer {
  border-top: 1px solid #ccc;
}

footer .container .prim {
  padding-bottom: 80px;
}

footer .container .slogan {
  text-align: center;
  padding: 30px 0px;
}

footer .container .slogan img {
  max-width: 30%;
  margin-bottom: 30px;
}

footer .for-her,
footer .for-him {
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .for-her h2,
footer .for-him h2,
footer .container .sub h2 {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 500;
}

footer a {
  color: rgba(0, 0, 0, 0.51);
  text-decoration: none;
  margin: 5px 0px;
  transition: var(--main-trans-time);
}

footer a:hover {
  color: #005f9b;
}

footer .container .sub {
  margin-top: 30px;
  text-align: center;
}

footer .container .sub input[type="email"] {
  padding: 12px;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #ccc;
}

footer .container .sub input[type="email"]::placeholder {
  font-size: 0.9rem;
}

footer .container .sub button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 28px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  background-color: #0084d6;
  transition: var(--main-trans-time);
}

footer .container .sub button:hover {
  background-color: #005f9b;
}

/* 
---------------------------------------------
Links
--------------------------------------------- 
*/
#links {
  border-top: 1px solid #ccc;
  padding-top: 30px;
  padding-bottom: 70px;
}

#links .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#links .container p {
  padding-bottom: 40px;
  color: #000000d2;
  font-size: 0.95rem;
}

#links .container .icons {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#links .container .icons a {
  color: #000;
}

#links .container .icons i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: var(--main-trans-time);
}

#links .container .icons i:hover {
  color: #005f9b;
}

/* 
---------------------------------------------
Small Devices
--------------------------------------------- 
*/
@media (min-width: 567px) {
}

/* 
---------------------------------------------
Meduim Devices
--------------------------------------------- 
*/
@media (min-width: 768px) {
  .container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  /* 
    ---------------------------------------------
    (Meduim) Hero Section
    --------------------------------------------- 
    */
  #hero .container .main-txt {
    width: 80%;
    align-items: flex-start;
    text-align: left;
    padding-left: 25px;
  }

  #hero .container .main-txt h1 {
    font-size: 3.125rem;
    width: 70%;
  }

  .btn {
    width: 30%;
  }

  #hero .container .main-txt a:last-of-type {
    margin-top: 0;
    margin-left: 20px;
  }

  #hero .container .main-txt div {
    justify-content: flex-start;
  }

  /* 
    ---------------------------------------------
    (Meduim) Cards Section 
    --------------------------------------------- 
    */
  #cards .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
  #cards .container .card {
    padding-top: 220px;
    padding-bottom: 20px;
    min-height: 480px;
  }

  #cards .container .card:last-of-type,
  #cards .container .card:first-of-type {
    background-position: center left;
  }
  #cards .container .card:nth-child(2) {
    background-position: center right;
  }
  #cards .container .card h3 {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  #cards .container .card p {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  #cards .container .card .btn {
    width: 75%;
  }

  /* 
    ---------------------------------------------
    (Meduim) Featured Products Section 
    --------------------------------------------- 
    */
  #featured {
    padding-top: 100px;
  }
  #featured .container .line {
    width: 15%;
  }
  #featured .container .products {
    padding: 0px 40px;
  }
  #featured .container .products .product {
    width: calc((100% / 3) - 10px);
  }
  #featured .container .products .product img {
    max-width: 95%;
  }

  /* 
    ---------------------------------------------
    (Meduim) Special Section 
    --------------------------------------------- 
    */
  #special .container {
    align-items: flex-start;
    padding: 60px 50px;
  }
  #special .container p,
  #special .container h4:last-of-type {
    text-align: start;
    width: 67%;
  }
  #special .container .btn {
    width: 25%;
  }

  /* 
    ---------------------------------------------
    (Meduim) Tags Section 
    --------------------------------------------- 
    */
  #tags .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 40px;
  }

  #tags .container .tag-box {
    width: calc((100% / 2) - 50px);
  }
  #tags .container .tag-box img {
    max-width: 18%;
  }

  /* 
    ---------------------------------------------
    (Meduim) Footer 
    --------------------------------------------- 
    */
  footer .container .prim {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding-top: 30px;
  }
  footer .container .slogan img {
    max-width: 45%;
  }
  footer .container .slogan,
  footer .container .sub {
    text-align: start;
    width: calc((100% / 4));
  }

  footer .container .for-her,
  footer .container .for-him {
    align-items: flex-start;
  }

  /* 
    ---------------------------------------------
    (Meduim) Links
    --------------------------------------------- 
    */
  #links .container p {
    padding-bottom: 0px;
  }
  #links .container {
    flex-direction: row;
    justify-content: space-between;
  }

  #links .container .icons {
    width: 25%;
  }
}

/* 
---------------------------------------------
Large Devices
--------------------------------------------- 
*/
@media (min-width: 992px) {
  .container {
    width: 930px;
  }

  /* 
    ---------------------------------------------
    (Large) Hero Section
    --------------------------------------------- 
    */
  #hero .container .main-txt h1 {
    width: 70%;
    font-size: 4rem;
  }

  .btn {
    width: 20%;
  }

  /* 
    ---------------------------------------------
    (Large) Cards Section 
    --------------------------------------------- 
    */
  #cards .container {
    gap: 20px;
  }
  #cards .container .card {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* 
    ---------------------------------------------
    (Large) Featured Products Section 
    --------------------------------------------- 
    */
  #featured .container h2:first-of-type {
    font-size: 2.7rem;
  }
  #featured .container .line {
    width: 10%;
  }
  #featured .container .products .product {
    width: calc((100% / 5) - 10px);
  }

  /* 
    ---------------------------------------------
    (Large) Special Section 
    --------------------------------------------- 
    */
  #special .container .btn {
    width: 18%;
  }

  /* 
    ---------------------------------------------
    (Large) Tags Section 
    --------------------------------------------- 
    */
  #tags .container {
    padding: 0px 20px;
  }
  #tags .container .tag-box {
    width: calc((100% / 2) - 80px);
  }

  /* 
    ---------------------------------------------
    (Large) Sale Section
    --------------------------------------------- 
    */
  #sale .container p {
    padding: 50px 0px;
  }
}

/* 
---------------------------------------------
Extra Large Devices
--------------------------------------------- 
*/
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  /* 
    ---------------------------------------------
    (Extra) Hero Section
    --------------------------------------------- 
    */
  #hero {
    height: 100vh;
    background-attachment: fixed;
  }
  #hero .container .main-txt {
    padding-left: 0px;
  }
  #hero .container .main-txt h1 {
    font-size: 4.4rem;
  }
  #hero .container .main-txt .btn {
    width: 16%;
  }
  #hero .container .main-txt h4 {
    margin: 25px 0px;
  }

  /* 
    ---------------------------------------------
    (Extra) Cards Section 
    --------------------------------------------- 
    */
  #cards .container .card {
    padding-left: 40px;
    padding-right: 20px;
  }
  #cards .container .card h3 {
    font-size: 1.6rem;
  }
  #cards .container .card .btn {
    width: 50%;
  }

  /* 
    ---------------------------------------------
    (Extra) Featured Products Section 
    --------------------------------------------- 
    */
  #featured .container .products {
    padding: 0px 0px;
  }
  #featured .container .products .product img {
    max-width: 100%;
  }
  #featured .container .products .product {
    width: calc((100% / 5) - 15px);
  }

  /* 
    ---------------------------------------------
    (Extra) Special Section 
    --------------------------------------------- 
    */
  #special .container {
    padding: 100px 90px;
    background-attachment: fixed;
  }

  /* 
    ---------------------------------------------
    (Extra) Tags Section 
    --------------------------------------------- 
    */
  #tags .container .tag-box {
    width: calc((100% / 4) - 30px);
  }
  #tags .container .tag-box img {
    max-width: 20%;
  }
}


.popup {
  display: none;
  position: absolute;
  top: 16%;
  right: 0;
  transform: translate(-5%, -50%);
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
}

#loggedInPopup button {
  background-color: #ff5252; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.4s;
  margin-top: 15px;
}

#loggedInPopup button:hover {
  background-color: #e00000; 
}

